@import "_normalize.css";

body { font-family: 'Roboto', sans-serif; color: #100c08; background-color: #edefec; }

#app {}

.hidden { display: none; }

.chat { display: flex; margin: 66px 33px; }

.chat__user-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 217px;
    height: 276px;
    margin-top: 17px;
    padding: 25px 14px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 1px solid #464646;
    border-right: none;
}

.chat__user {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    line-height: 1;
    color: #4f4f4f;
}

.chat__user::before {
    content: "";
    display: inline-block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #5c5c5c;
}

.chat__user--yourself { color: #fe6d58; }

.chat__container {
    display: flex;
    flex-direction: column;
    width: 628px;
    height: 534px;
    border-radius: 16px;
    border: 1px solid #464646;
}

.chat__messages { flex: 1 1 0; overflow-y: auto; }

.modal { position: fixed; inset: 0; z-index: -10; }

.modal.active { z-index: 10; background-color: rgba(70, 70, 70, 0.7); }

.modal__content {
    --margin: 36px;
    position: absolute;
    top: calc(50% - var(--margin, 0));
    left: calc(50% - var(--margin, 0));
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: calc(100% - (var(--margin, 0) * 2));
    max-width: 500px;
    margin: var(--margin, 0);
    background-color: #ffffff;
    border-radius: 16px;
    border: 1px solid #464646;
    box-shadow: 0 3px 5px 2px rgba(70, 70, 70, 0.3);
    transition: all 0.3s ease-out;
    transform: translateX(-50%) translateY(-100vh);
}

.modal.active .modal__content { transform: translateX(-50%) translateY(-50%); }

.modal__header {
    padding: 12px 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #464646;
}

.modal__body { padding: 16px 26px; }

.modal__form-group > * + * { margin-top: 6px; }

.modal__form-input {
    display: block;
    width: 100%;
    padding: 10px 4px;
    font-size: 18px;
    line-height: 1;
    color: #464646;
    border: 1px solid #464646;
}

.modal__form-input:focus {
    border: 1px solid #20b1df;
    outline: rgba(32, 177, 223, 0.25) solid 2px;
}

.modal__form-hint { font-size: 16px; text-align: center; color: #ff0000; }

.modal__form-hint:empty { display: none; }

.modal__footer { display: flex; padding: 0 26px 16px; }

.modal__ok {
    display: block;
    width: 100%;
    max-width: 324px;
    margin: 0 auto;
    padding: 16px 14px;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #464646;
    border-radius: 16px;
    border: 1px solid #464646;
    cursor: pointer;
}

.modal__ok:focus-visible,
.modal__ok:hover {
    color: #58bf97;
    border-color: #58bf97;
    outline: rgba(88, 192, 151, 0.25) solid 2px;
}
